<div class="container p-4 pb-3">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-outline-primary" (click)="setEcuancion('variable',inputExpresion)">
      <div #independiente></div>
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="setEcuancion('exponente',inputExpresion)">
      <div #potencia></div>
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="setEcuancion('fraccion',inputExpresion)">
      <div #fraccion></div>
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="setEcuancion('raiz',inputExpresion)">
      <div #raizX></div>
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="setEcuancion('raizN',inputExpresion)">
      <div #raizNX></div>
    </button>
  </div>
  <br><br><br>
  <h3>Generador de expresiones matemáticas</h3>
  
  <div class="mb-2">
    <input type="text" #inputExpresion class="form-control">
  </div>
  <div class="mb-3"><button type="button" class="btn btn-info" (click)="generateEquation(inputExpresion)">Visualizar Ecuación</button>
    
  </div>
  <div class="mb-3">
    <div #resultado></div>
  </div>

</div>
